.general_box {
background: #F5FCFF;
float: left;
margin: 10px 0 0;
width: 100%;
}
.general_box_heading {
background: none repeat scroll 0 0 #7CD8FF;
color: #FFFFFF;
float: left;
font-size: 16px;
line-height: 39px;
padding: 0 3%;
width: 100%;
}
.general_box_content {
border: 1px solid #C4EBFF;
color: #005197;
float: left;
font-size: 14px;
padding: 0 3%;
width: 100%;
}
.transfer_con {
float: left;
margin: 10px 0 0;
max-width: 480px;
width: 100%;
}
.transfer_con ul {
margin: 0;
padding: 0;
float: left;
width: 100%;
}
.transfer_con ul li {
list-style: none;
margin: 0 0 10px;
float: left;
width: 100%;
}
.transfer_con ul li label {
float: left;
width: 45%;
text-align: right;
margin-right: 30px;
}
.aright {
float: left;
margin-right: 25px;
}
.transfer_con ul li label {
float: left;
width: 45%;
text-align: right;
margin-right: 30px;
}
.centerme {
text-align: center;
}
.mobilehint {
float: right;
text-align: right;
font-size: 9px;
margin-right: 10px;
line-height: 1px;
margin: -14px 22px 0px 0px;
}
select {
width: 220px;
background-color: #ffffff;
border: 1px solid #cccccc;
}
.boldme {
font-weight: bold;
}

input[type="file"] {
float: left;
width: 200px;
}








