@charset "utf-8";
body, p, ul, li{ color:#000;}

p,h1,a{
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-decoration: none;
}
.red-text{
    color: #990000; 
}
.centerMe{
    text-align: center; 
}
.clear{
    clear:both;
}
.box-shadow{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,.6);
}
.shadow{
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
}
body{
    font-family:arial,sans-serif;
    /*background: url(../images/infinity1.png) no-repeat center center fixed;*/ 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}
.main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.main-box{
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 2px solid #191000;
    border-radius: 20px;
    /*height: 380px;*/
    min-height: 385px;
    padding-bottom: 5px;
    /*margin-top: 50px;*/
}
.heading{
    color: #cdba8f;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.detail-box{
    float: left;
    margin: 5px 0px 20px 20px;
}
.u-name
{
    float: left;
    margin-top: 10px;
    width: 100%;
}
.u-name span{
    width: 280px;
    float: left;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #CDBA8F;
    /*color: grey;*/
}
.u-name input{
    float: left;
    width: 275px;
    height: 30px;
    padding: 4px 8px;
    border-radius: 11px;
    border: 1px solid gold;
    font-size: 20px;
    border-style: none;
    color: #CDBA8F;

}

.u-name input::-webkit-input-placeholder { color:#CDBA8F; }
.u-name input::-moz-placeholder { color:#CDBA8F; } /* firefox 19+ */
.u-name input:-ms-input-placeholder { color:#CDBA8F; } /* ie */
.u-name input:-moz-placeholder { color:#CDBA8F; }


input:focus { outline: none; }
.cp{
    text-align:center; margin-top:0px; margin-bottom:0px; padding:0px;
}
.sub-btn{
    float: left;
    width: 100%;
}
.sub-btn input{

    height: 30px;
    width: 100px;
    margin-top: 20px;
}
.logo{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.logo img{
    text-align: center;
}
.dummy-box{
    /*width: 380px;*/
    height: 10%;margin: 0 auto;
}
.r-password{
    text-align: right;
    float: left;
    /*width: 100%;*/
    margin-bottom: 10px;
    margin-top: 5px;
    color: #fff;
}
.r-password:hover{
    color: #830505;
}
.r-password-2{
    text-align: right;
    float: right;
    /*width: 100%;*/
    margin-bottom: 10px;
    margin-top: 5px;
    color: #fff;
}
.r-password-2:hover{
    color: #830505;
}
.orspan{
    line-height: 30px;
    margin: 10px 10px 10px 18px;
    font-weight: bold;
}
.main-box-errorpage {
margin: 0 auto;
width: 730px;
padding: 20px;
border: 2px solid #191000;
border-radius: 20px;
height: 630px;
padding-bottom: 5px;
}