@charset "utf-8";
body {
    padding-top: 20px;
    padding-bottom: 0px;
    background-color: #eee;
}

body, p, ul, li{ color:#000;}

p,h1,a{
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-decoration: none;
}
.red-text{
    color: #990000; 
}
.centerMe{
    text-align: center; 
}
.clear{
    clear:both;
}
.box-shadow{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,.6);
}
.shadow{
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
}
body{
    font-family:arial,sans-serif;
    /*background: url(../images/infinity1.png) no-repeat center center fixed;*/ 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}
.main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.main-box{
    padding-top: 5px;
    margin: 0 auto;
    width: 600px;
    border: 2px solid #191000;
    border-radius: 20px;
    height: 580px;
    padding-bottom: 10px;
}
.heading{
    color: #cdba8f;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.detail-box{
    float: left;
    margin: 5px 0px 20px 20px;
}
.u-name
{
    float: left;
    margin-top: 10px;
    width: 100%;
}
.u-name span{
    width: 280px;
    float: left;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #CDBA8F;
    /*color: grey;*/
}
.u-name input{
    float: left;
    width: 275px;
    height: 30px;
    padding: 4px 8px;
    border-radius: 11px;
    border: 1px solid gold;
    font-size: 20px;
    border-style: none;
    color: #CDBA8F;

}

.u-name input::-webkit-input-placeholder { color:#CDBA8F; }
.u-name input::-moz-placeholder { color:#CDBA8F; } /* firefox 19+ */
.u-name input:-ms-input-placeholder { color:#CDBA8F; } /* ie */
.u-name input:-moz-placeholder { color:#CDBA8F; }


input:focus { outline: none; }
.cp{
    text-align:center; margin-top:0px; margin-bottom:0px; padding:0px;
}
.sub-btn{
    float: left;
    width: 100%;
}
.sub-btn input{

    height: 30px;
    width: 100px;
    margin-top: 20px;
}
.logo{
    float: left;
    width: 100%;
}
.logo img{
    text-align: center;
}
.dummy-box{
    /*width: 380px;*/
    height: 10%;margin: 0 auto;
}
.form-signin {

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width: 45%;
    margin-right: 20px;
    float: left;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.transfer_con ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
.transfer_con ul li {
    list-style: none;
    margin: 0 0 10px;
    float: left;
    width: 50%;
}
.transfer_con ul li label {
    float: left;
    width: 90%;
    text-align: left;
    margin-right: 30px;
}
.centerme {
    text-align: center;
}
select {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
input[type="file"] {
    float: left;
    width: 200px;
}
.form-control{
    width: 90%;
}
.transfer_con{
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
.signupbtn{
    width: 100%;
    margin-top: 15px;
}

.chapie{
    display: none;
    position: absolute;
    width: 100%;
    height: 95%;
}

.main-box-terms {
    margin: 0 auto;
    width: 70%;
    border: 2px solid #191000;
    border-radius: 20px;
    /* height: 550px; */
    padding-bottom: 10px;
    padding: 20px;
}














