body{
    padding: 0;
    margin: 20px 0 0 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: white !important;
}
html, body {
    height: 97%;
}


.myborder{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0575BD;
    border: 1px solid black;
    color: #fe4d00;
    box-shadow: 0 1px 6px 2px #666666;
    border-radius: 10px;
}
.backg{
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 1px 6px 2px #666666;
}
.rowpad{padding: 10px;}
.centered{
    float: none;
    margin: 0 auto;
}
.mtop{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #830505;
}
#footer{
    display: none;
    background: url(../images/bg.repeats.gif) repeat-x;
    background-position: 0 -688px;
    /*position: absolute;*/
    bottom: 0px;
    width: 100%;
    height: 60px;
}
#footer-bottom {
    width: 98%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 15px;
}
#phone-number {
    color: #e46a00;
    /*margin-top: 18px;*/
    float: left;
}
#social-media {
    list-style: none;
    display: block;
    height: 38px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: 8px;
}
#social-media li {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 6px;
    float: left;
}
#fine-print {
    list-style: none;
    color: #63666f;
    float: right;
    margin-top: 7px;
    text-align: right;
}
#social-media li a {
    display: block;
    width: 38px;
    height: 38px;
    background: url(../images/ui.jpg) #999;
    overflow: hidden;
    text-indent: -9999px;
}
#social-media li.linked-in a:hover {
    background-position: 0 -317px;
}
#social-media li.linked-in a {
    background-position: 0 -279px;
}

#social-media li.twitter :hover {
    background-position: -38px -317px;
}
#social-media li.twitter a {
    background-position: -38px -279px;
}
#social-media li.facebook a:hover {
    background-position: -76px -317px;
}
#social-media li.facebook a {
    background-position: -76px -279px;
}
#social-media li.flickr a:hover {
    background-position: -152px -317px;
}
#social-media li.flickr a {
    background-position: -152px -279px;
}
.fcontainer{
    position: relative;
    bottom: 0px;
}
.cred{
    color: red;
}
.cgreen{
    color: greenyellow;
}
.cgray{
    color: gray;
}

.span4, h1 {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h3, #magic-text {
    margin-top: 20px;
}

#warning-toggle-button,
#danger-toggle-button,
#info-toggle-button,
#success-toggle-button,
#transition-percent-toggle-button,
#disabled-toggle-button {
    margin-bottom: 10px;
}
.switch-light {margin-left: -10px !important;}
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}
.examples-section {
    text-align: center;
}

/* line 180, ../sass/screen.sass */
.image-row {
    *zoom: 1;
    margin-bottom: 20px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.image-row:after {
    content: "";
    display: table;
    clear: both;
}

/* line 184, ../sass/screen.sass */
.example-image-link {
    display: inline-block;
    margin: 0 10px 20px 10px;
    line-height: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 4px solid #5e5e5e;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
/* line 191, ../sass/screen.sass */
.example-image-link:hover {
    border: 4px solid #00bfa8;
}

/* line 194, ../sass/screen.sass */
.example-image {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.myspantable tr td span{
    float: left;
}

.markedpic{
    display: none;
    position: absolute;
    top: 0;
    left: 15px;
    cursor: pointer;
}
.picmarked{
    
    position: absolute;
    top: 0;
    left: 15px;
    cursor: pointer;
}



