/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 13pt;
	}

	.container > .container {
		width: 100% !important;
	}
	
	/* Main */
		
		.main {
		}
		
			.main.style2 {
			}
			
				.main.style2 .content {
					width: 60%;
				}
			
					.main.style2.right .content {
						left: 40%;
					}

				.main.style2.inactive {
				}

					.main.style2.inactive .content {
					}

						.main.style2.inactive.left .content {
							left: -60%;
						}
						
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer {
		height: auto;
		line-height: inherit;
		text-align: center;
		padding: 2em 1em 2em 1em;
	}

		#footer .actions {
			position: relative;
			left: 0;
			top: 0;
			height: auto;
			line-height: inherit;
			margin: 0 0 1em 0;
		}
		
		#footer .menu {
			position: relative;
			right: 0;
			top: 0;
			height: auto;
			line-height: inherit;
		}
                .loginbtn{display: none;}
                #logo img{
			height: 52px;
		}
                
                #nav ul li {
                    margin-left: 2px;
                }
                #nav ul li a{
                    padding: 0 2px 0 2px;
                    font-size: 14px;
                }